.menuContainer {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
}

.dropdownButton {
    cursor: pointer;
    background-color: var(--background);
    border: none;
    height: 40px;
    font-size: 16px;
    font-weight: 900;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    border-bottom-left-radius: 10px;
    height: 200px;
}

.menuItem {
    cursor: pointer;
    background-color: var(--background);
    border: none;
    padding: 5px;
    margin-left: 10px;
}

.menuItem:first-of-type {
    margin-top: 10px;
}

.notFound {
    margin-top: 10px;
    text-align: center;
}

.search {
    padding: 5px;
    border: none;
}

.search:focus-visible {
    outline: none;
}